/* reset css */

* {
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

/* main container */

body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;

    background-position: center;
    background-size: cover;
}

/* hide areas */

.hide {
    display: none;
}

.container {
    background-color: transparent;
    box-shadow: 0px 36px 84px -26px rgba(0,0,0,0.54);
    border: #f9effa solid 5px;
    padding: 40px;
    color: #f9effa;
    border-radius: 40px;
    max-width: 400px;
    max-height: 800px;
    backdrop-filter: blur(10px);
}

/* form */

.form h3{
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 600;
}

.form-input-container {
    display: flex;
}

.form input {
    padding: 20px;
    max-height: 10px;
    background: transparent;
    border: #f9effa solid 2px;
    color: #f9effa;
    flex: 1;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 100;

    transition: 0.3s ease;
}

.form input:hover{
    background-color: #f9effa;
    color: #6f83e6
}

.form input:focus{
    background-color: #f9effa;
    color: #6f83e6;
    outline: 2px solid #6f83e6;
}

.form input::placeholder{
    color: #f9effa;
    font-size: 16px;
    font-weight: 100;

    transition: 0.3s ease;
}

.form input:hover::placeholder{
    color: #6f83e6;
}

.form button {
    padding: .8rem;
    width: 53px;
    height: 53px;
    color: #6f83e6;
    border-radius: 30px;
    margin-left: 8px;
    background-color: #f9effa;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

/* button animation */

.form button:hover{
    background-color: transparent;
    border: #f9effa solid 2px;
    color: #f9effa;
}

/* weather data */

#weather-data {
    border-top: 2px solid #f9effa;
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-data h2 i {
    font-size: 18px;
}

#weather-data span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 23px;
}

#temperature span{
    font-size: 50px;
    font-weight: 700;
}

#contry{
    height: 10px;
}

#description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
    text-transform: capitalize;
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.details-container{
    margin: 0.6rem;
    padding: 0.6rem;
}

#humidity span{
    font-size: 20px;
}

#wind{
    border-left: 2px solid #f9effa;
    padding-left: 10px;
}

#wind span {
    font-size: 20px;
}

/* loading animation */

#loader i {
    animation: rotate 1.5s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }